h1 {
  color: salmon;
}

body {
  background-color: rgb(232,232,232);
}

.row1item, img {
  width: 200px;
  height: 200px;
}

.row1 {
  height: 250px;
  width: 660px;
  margin: 0 auto;
}

.row1item {
  position: relative;
  display: inline-block;
  float: left;
  margin-right: 20px;
}

.row1item p {
  position: absolute;
  top: 50%;
  left: 0;
  margin: -8px 0 0 0px;
  color: white;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}

.guidebooks {
  display: block;
  clear: both;
  margin: 0 auto;
}

.destinations {
  display: block;
  clear: both;
  margin: 0 auto;
}

.text{
  clear: left;
  text-align: center;
}

button {
	box-shadow:inset 0px 1px 0px 0px #40201A;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #FF8166), color-stop(1, #7F4033));
	background-color:#FF8166;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
  border-radius: 15%;
  border-width: : 0;
  color: white;
}
